@use "../abstracts/index" as abstracts;

.card {
  @include abstracts.card;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include abstracts.container;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: abstracts.$font-family-righteous;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: abstracts.$font-family-righteous;
}

body {
  font-family: abstracts.$font-family-serif;
  background: abstracts.$primary !important; //avoid _reboot.scss makes bg white
}

button {
  @include abstracts.button;

  background-color: abstracts.$white;
  transition: all 0.3s ease-in-out;

  &:hover {
    font-weight: bold;
    background-color: abstracts.$secondary;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
