<section id="about" class="poster-grid">
  <h2 class="poster-grid-title">About Hacking</h2>

  <div class="poster-grid-main">
    <!-- Primera tarjeta -->
    <div class="box green-card">
      <h2>Jornadas de seguridad informática</h2>
      <p>
        Las jornadas de seguridad informática son eventos donde expertos en
        ciberseguridad comparten conocimientos y experiencias sobre cómo
        proteger sistemas y redes de ataques. Estos eventos incluyen
        conferencias, talleres y demostraciones prácticas que ayudan a los
        asistentes a mejorar sus habilidades y conocimientos en el campo de la
        seguridad informática.
      </p>
      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          Inscríbete
        </button>
      </p>
      <div style="min-height: 120px">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px">
            ¡Gracias por tu interés en las Jornadas de Seguridad Informática!

          </div>
        </div>
      </div>
    </div>

    <!-- Segunda tarjeta con badges -->
    <div class="box transp-card">
      <h2>Categorías de Ciberseguridad</h2>
      <div class="badges-container">
        <span class="badge text-bg-primary">Protección de Datos</span>
        <span class="badge text-bg-secondary">Ciberseguridad</span>
        <span class="badge text-bg-success">Firewall</span>
        <span class="badge text-bg-danger">Antivirus</span>
        <span class="badge text-bg-warning">Phishing</span>
        <span class="badge text-bg-info">Encriptación</span>
        <span class="badge text-bg-light">Autenticación</span>
        <span class="badge text-bg-dark">Hacking Ético</span>
      </div>
    </div>

    <!-- Tercera tarjeta -->
    <div class="box cian-card">
      <h2>¿Qué son las VPN?</h2>
      <p>
        Las VPN (Redes Privadas Virtuales) son herramientas que permiten crear
        una conexión segura y encriptada a través de una red menos segura, como
        Internet.
      </p>
    </div>
  </div>
</section>
