<section  class="container grid grid-cols-12 items-start">
  <h2 class="col-span-12 underline font-righteous text-2xl w-full md:hidden">
    About Hacking
  </h2>

  <div class="max-w-full col-span-12 grid grid-cols-12 gap-8">
    <!-- Primera tarjeta -->
    <div class="card col-span-12 md:col-span-4 md:mb-auto p-4 bg-secondary">
      <h2 class="text-2xl mb-4 w-full break-words leading-tight font-righteous">
        Jornadas de seguridad informática
      </h2>
      <p class="text-base mb-4">
        Las jornadas de seguridad informática son eventos donde expertos en
        ciberseguridad comparten conocimientos y experiencias sobre cómo
        proteger sistemas y redes de ataques. Estos eventos incluyen
        conferencias, talleres y demostraciones prácticas que ayudan a los
        asistentes a mejorar sus habilidades y conocimientos en el campo de la
        seguridad informática.
      </p>
      <button
        class="card bg-blue-500 text-white px-4 py-2 rounded"
        type="button"
        id="toggleButton"
        aria-expanded="false"
        aria-controls="collapseWidthExample"
      >
        Inscríbete
      </button>
      <div style="min-height: 120px">
        <div
          class="collapse hidden transition-all duration-300"
          id="collapseWidthExample"
        >
          <div class="p-4 border border-gray-300 rounded" style="width: 300px">
            ¡Gracias por tu interés en las Jornadas de Seguridad Informática!
          </div>
        </div>
      </div>
    </div>

    <!-- Segunda tarjeta con badges -->
    <div class="card col-span-12 md:col-span-4 md:mb-auto p-4">
      <h2 class="text-2xl mb-4 w-full break-words leading-tight font-righteous">
        Categorías de Ciberseguridad
      </h2>
      <div class="flex flex-wrap gap-2">
        <span class="badge text-white bg-blue-600">Protección de Datos</span>
        <span class="badge text-white bg-gray-500">Ciberseguridad</span>
        <span class="badge text-white bg-green-700">Firewall</span>
        <span class="badge text-white bg-red-600">Antivirus</span>
        <span class="badge text-black bg-yellow-500">Phishing</span>
        <span class="badge text-black bg-blue-400">Encriptación</span>
        <span class="badge text-black bg-gray-300">Autenticación</span>
        <span class="badge text-white bg-black">Hacking Ético</span>
      </div>
    </div>

    <!-- Tercera tarjeta -->
    <div
      class="card col-span-12 md:col-span-3 md:col-start-10 md:mb-auto p-4 bg-terciary"
    >
      <h2 class="text-2xl mb-4 w-full break-words leading-tight font-righteous">
        ¿Qué son las VPN?
      </h2>
      <p class="text-base mb-4">
        Las VPN (Redes Privadas Virtuales) son herramientas que permiten crear
        una conexión segura y encriptada a través de una red menos segura, como
        Internet.
      </p>
    </div>
  </div>
</section>
