<section class="container md:hidden">
  <!-- Socials section -->
  <ul class="flex justify-between py-10 text-terciary text-5xl">
    <li class="social-icon">
      <a href="https://github.com/jramma" target="_blank" title="Go to GitHub">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.jramma.com" target="_blank" title="Go to my web">
        <i class="fa fa-globe"></i>
      </a>
    </li>
    <li class="social-icon">
      <a
        href="https://www.linkedin.com/in/jramma"
        target="_blank"
        title="Go to LinkedIn"
      >
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
</section>
