<section class="socials">
  <h2 class="visually-hidden">Socials section</h2>
  <ul class="socials-list">
    <li class="socials-item">
      <a
        href="https://github.com/jramma"
        target="_blank"
        title="Go to GitHub"
        class="socials-link"
      >
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="socials-item">
      <a
        href="https://www.jramma.com"
        target="_blank"
        title="Go to my web"
        class="socials-link"
      >
        <i class="fa fa-globe"></i>
      </a>
    </li>
    <li class="socials-item">
      <a
        href="https://www.linkedin.com/in/jramma"
        target="_blank"
        title="Go to LinkedIn"
        class="socials-link"
      >
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
</section>
