<section class="speakers">
  <h2>Ponentes</h2>
  <div class="speakers-grid">
    <include src="components/card.html">
      { "image": "./assets/images/head1.webp", "name": "Dr. Ana García",
      "title": "Experta en Ciberseguridad", "description": "Ana es una
      reconocida experta en ciberseguridad con más de 15 años de experiencia en
      la industria, especializada en protección de datos y análisis de
      vulnerabilidades." }
    </include>
    <include src="components/card.html">
      { "image": "./assets/images/head2.webp", "name": "Ing. Carlos López",
      "title": "Especialista en Redes", "description": "Carlos ha trabajado en
      el diseño y la implementación de redes seguras para grandes corporaciones,
      y es un apasionado de la seguridad en infraestructuras críticas." }
    </include>
    <include src="components/card.html">
      { "image": "./assets/images/head3.webp", "name": "MSc. Laura Martínez",
      "title": "Consultora en Seguridad Informática", "description": "Laura es
      consultora en seguridad informática y ha ayudado a numerosas empresas a
      mejorar sus políticas de seguridad y a implementar soluciones efectivas
      contra ciberataques." }
    </include>
    <include src="components/card.html">
      { "image": "./assets/images/head4.webp", "name": "Dr. Pedro Sánchez",
      "title": "Investigador en Ciberseguridad", "description": "Pedro es
      investigador en ciberseguridad y ha publicado varios artículos sobre
      nuevas técnicas de defensa contra amenazas avanzadas y ataques dirigidos."
      }
    </include>
    <include src="components/card.html">
      { "image": "./assets/images/head6.webp", "name": "Ing. María Fernández",
      "title": "Especialista en Criptografía", "description": "María es
      especialista en criptografía y ha trabajado en el desarrollo de algoritmos
      de encriptación para proteger la información sensible de organizaciones
      gubernamentales y privadas." }
    </include>
    <include src="components/card.html">
      { "image": "./assets/images/head5.webp", "name": "Lic. Juan Pérez",
      "title": "Analista de Seguridad", "description": "Juan es analista de
      seguridad y se dedica a la identificación y mitigación de riesgos en
      sistemas informáticos, con un enfoque en la prevención de ataques y la
      respuesta a incidentes." }
    </include>
  </div>
  <div class="speakers-footer">
    <include src="components/button.html">{"text":"Subribete al boletín"}</include>
  </div>
</section>
